.reveal .slide-logo {
  height: 200px !important;
  width: 200px!important;
  opacity: 0.4;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal pre.sourceCode code {
  /* height: 500px; */
  max-height: 700px;
  max-width: 2000px;
}


.important-maroon {
  font-weight: bold;
  color: maroon;
}


.important-orange {
  color: #e6872e;
}

.important-black {
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
}

.important-blue {
  color: rgb(0, 79, 128);
}


.strong-fade {
  color: lightgrey;
  opacity: 0.5;
}

.strong-fade-math {
  font-size: 35px;
  color: lightgrey;
  opacity: 0.5;
}

.strong-fade-math-smaller {
  font-size: 26px;
  color: lightgrey;
  opacity: 0.8;
}

.weak-fade {
  font-weight: lighter;
  color: black;
  opacity: 0.9;
}

.big {
  font-size: 35px;
}

.smaller {
  font-size: 20px;
}

.not-as-small {
  font-size: 26px;
}

.math-size {
  font-size: 35px;
}

.new-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.new-center-small {
  font-size: 26px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.new-center-big {
  color: white;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}